
div{
 height: 650px;
 width: 400px;
 background:cyan;
 margin: auto;
 padding: 10px
}

div{
 outline-style: solid;
 outline-color:red;
 outline-width: thick
}

div{
 outline-offset: 4px;
}

p{
 color:navy;
 text-align:justify;
 
}
img{
 padding: 18px; 
}

.para{
 text-decoration: underline;
 text-transform: uppercase;
 text-indent: 50px;
 letter-spacing: 3px;
 line-height: 35px;
 word-spacing: 5px;
 text-shadow: 10px 5px 5px rgba(0, 0, 0, 0.55)
}

.font{
 font-family: Verdana, Tahoma, sans-serif;
 font-style: oblique;
 font-weight: bold;
 font-size: 2em;
 font-family: 'Montserrat', sans-serif;
}

ul{
 list-style-type: disc;
 background-color: lightcoral;
 padding: 25px;
}

ul li{
 background-color: lightseagreen;
 margin:14px
}

 th, td{
 border: 2px solid black;
 border-radius: 5px;
}
table{
 width: 100%;
 margin: auto;
}
td{
 text-align: center;
}
th{
 color: blue;
 background-color: #fff;
}
tr:hover{
 background-color: lightskyblue;
}
tr:nth-child(even) {background-color: #ff0000;}


